body{
  background: url('../imagenes/fondo.png') no-repeat fixed center center;
  background-size: cover; /**abarque toda la pantalla**/
  margin-left: 0;
  margin-right: 0;
}

.seccion1{
  margin-top: 0px;
  background: black;
  height: 60px;
}

#nav {
  padding: 0px;

}
#nav ul {
  border-top: 0px:
}

#nav li{
  display: inline-block;
}

#nav li a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px; /**separación entre las palabras**/
  float: left;
}

#nav li a:hover{
  background: #949493;
}

#nav li h5{
  margin-left: 800px;
  color: white;
  left: 1180px;
  display: block;
  float: right;/**para que se centre en el menú**/
}

#nav li img{
  color: white;
  display: block;
}

img{
  width: 50px;
  border-radius: 20px; /**borde circular**/
  position: absolute; top: 20px; left: 1285px;
}


/**Barra lateral izquierda**/

.herramientas button{
  width: 80px;
  height: 80px;
  background-color:#D3D3D0;
}









/**Mensajes**/

form{
  background-color:rgba(232, 232, 229,0.7);
  margin-left: 150px;
  margin-right: 100px;
}

form h5{
  color: black;
  font-size: 20px;
  font-family: cursive;
  margin-left: 50px;
}

form input, textarea{
  margin-left: 100px;
  width: 850px;
  padding: 10px 10px 10px 10px;
  border-bottom: 20px;
}

textarea{
  min-height: 250px;
}

#boton{
  background-color: black;
  color: white;
  margin-left: 440px;
  margin-bottom: 30px;
  width: 200px;
}
